/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


.gallery {
  max-width: 1128px;
  margin: 40px auto;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.04);
  cursor: pointer;
}


.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4e75ff;
}

.feedback-form button {
  width: fit-content;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}



